/* ELEMENTS */
header {
  margin: 2%;
}
body {
  font-family: "Circular Book", sans-serif;
  background-color: #f9efed;
  text-align: center;
}
h1 {
  color: #303c41;
  text-align: left;
}
h2 {
  text-align: left;
  font-size: 18px;
  font-weight: 100;
  color: #ab6954;
}
a {
  text-decoration: none;
  color: #52796f;
}
p {
  display: inline-block;
}
form {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

table {
  background-color: oldlace;
  margin: 1em auto;
  width: 70%;
  border-spacing: 0;
}

tr {
  border-bottom: 2px solid grey;
}

td,
th {
  border-bottom: 1px solid grey;
  padding: 0.5em;
}
th {
  background: moccasin;
}
tr:nth-child(even) {
  background: papayawhip;
}
tr:hover {
  background: blanchedalmond;
  color: #52796f;
}

/*  CLASSES */
.green {
  background-color: #606c38 !important;
}
.hide {
  display: none;
}
.container {
  background: #e9ccbe;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30vh;
}
.homepage {
  background-image: url("./images/tohBackground.png");
  background-color: #f9efed;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage h2 {
  font-size: 22px;
  color: #9f5616;
}
.homepage a {
  animation: buttonGrow 2s infinite;
}
@keyframes buttonGrow {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 1.3);
  }
}

.card {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 87, 125, 0.1),
    0px 2px 4px rgba(0, 87, 125, 0.14);
  border-radius: 6px;
  padding: 10px 20px 15px 20px;
}
.modal-textbox {
  max-width: 70%;
  margin: 150px auto;
  overflow: auto;
  flex-direction: column;
}
.story p {
  text-align: justify;
  margin-top: 1%;
  padding: 0 7%;
}
.story {
  background: #e9ccbe;
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.tower:hover {
  background-color: #cad2c5;
}
.tower-top {
  /* background: linear-gradient(to right, #eea668, #ed7e1d, #e67e22); */
  background-color: #bd8e6b;
  min-height: 100px;
  width: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tower-bottom {
  background-color: #bd8e6b;
  width: 25vw;
  height: 3%;
  margin-bottom: 2%;
  border-radius: 2px;
}
.container li {
  background-color: #c59a00;
  border-bottom: 0.2px solid #9f5616;
  width: 50px;
  display: block;
  z-index: 10;
  height: 20px;
  border-radius: 5px;
}
.button {
  background-color: #5b5861;
  color: white;
  min-width: 120px;
  font-family: Circular Book, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 87, 125, 0.1),
    0px 1px 2px rgba(0, 87, 125, 0.14);
  border-radius: 4px;
  margin: 4% 2%;
}
.gameOptions {
  margin: 2% 5%;
}
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  /* This means the modal will take the X% height of the parent */
  height: 100%;
  width: 100%;
  z-index: 10;
  /* display: none; */
}

/*  IDs */
#gameStatus {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
}
#towerOne,
#towerTwo,
#towerThree {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#otherGameOptions {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 5%;
}
#generateNumDiscs input {
  padding: 10px;
  border: none;
  color: #303c41;
  font-size: 24px;
  text-align: center;
  width: 20%;
}

#restartBtn {
  background-color: #52796f;
}
#solveBtn {
  background-color: #84a98c;
}
#statsBtn {
  background-color: #a7bb9a;
}
#numDiscsBtn {
  margin-left: 1%;
}
#restartBtn:hover,
#solveBtn:hover,
#statsBtn:hover,
.homepage a:hover {
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

@media (min-width: 520px) {
  #otherGameOptions,
  .gameOptions {
    width: 70vw;
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    justify-content: flex-start;
  }
  #otherGameOptions {
    flex-wrap: wrap;
  }
  .container {
    background: #e9ccbe;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40vh;
  }
  .button {
    max-width: 300px;
    margin: 0 auto;
  }
  .modal-textbox {
    max-width: 50vw;
    margin: 150px auto;
    overflow: auto;
    flex-direction: column;
  }
  .homepage-section {
    margin: 5% 2%;
    width: 98vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
